<% @posts.each do |p| %>
  <div class="post-preview">
      <a href="<%= post_path(:id => p.id) %>">
            <h2 class="post-title">
              <%= p.title %>
            </h2>
            <h3 class="post-subtitle">
              <%= p.summary %>
            </h3>
        </a>
        <p class="post-meta">Posted by <a href="#"><%= p.author %></a> on <%= p.created_at %></p>
    </div>
    <hr>
  <% end %>

