<!DOCTYPE html>
<html>
<head>
  <title>BeverageTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Record new drink", new_drink_path, :class => "btn btn-large btn-primary", "data-toggle" => "modal", "data-target" => "#new-drink-modal", "data-remote" => false %>

<%= yield %>

<!-- Modal -->
<div class="modal fade" id="new-drink-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Record a new drink</h4>
      </div>
      <div class="modal-body">
        <%= render "drinks/form" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
