<p id="notice"><%= notice %></p>

<p>
  <strong>Ip address:</strong>
  <%= @view.ip_address %>
</p>

<p>
  <strong>Post:</strong>
  <%= @view.post_id %>
</p>

<%= link_to 'Edit', edit_view_path(@view) %> |
<%= link_to 'Back', views_path %>
